<div class="container-fluid">
  <div class="row" style="background-color: lightblue">
    <div class="col-6 align-content-center" style="background-color: bisque">
      <h2 class="card-title">Componente basico</h2>
      <div *ngIf="nameIwanos.length > 0 ; else noData">
        <div *ngFor="let name of nameIwanos" class="border text-sm-center">
          <p>{{ name.name }}</p>
        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #noData>
  <div>No hay elementos, para mostrar</div>
</ng-template>
